@import './variables';

main {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}

.comment {
  font-family: $rubik;
  font-size: $fs-16;
  background-color: $white;
  padding: 20px;
  display: grid;
  grid-template-columns: 30px 1fr auto;
  grid-template-rows: 30px auto;
  grid-template-areas: 
    'vote user-info reply'
    'vote comment comment'
  ;
  column-gap: 20px;
  row-gap: 10px;
  border-radius: 8px;
  margin-block-end: 20px;
}

button {
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  font-weight: $f-500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote {
  grid-area: vote;
}

.vote-control {
  background-color: $very-light-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding-block: 8px;
  border-radius: 8px;

  & button {
    height: 10px;
    color: $light-grayish-blue;
  }

  & .score {
    font-weight: $f-500;
    color: $moderate-blue;
  }
}

.vote-control > button:hover {
  color: $moderate-blue;
}

.user {
  grid-area: user-info;
  display: flex;
  align-items: center;

  & img {
    display: block;
    max-width: 30px;
  }

  & .username {
    color: $dark-blue;
    font-weight: $f-700;
    margin-left: 20px;
  }

  .current-user-comment {
    font-size: 0.75rem;
    color: $white;
    line-height: 1;
    background-color: $moderate-blue;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 10px;
  }

  & .created-at {
    color: $grayish-blue;
    margin-left: 20px;
  }
}

.comment-btns {
  grid-area: reply;
  display: flex;
}

.delete-btn {
  color: $soft-red;
  margin-right: 10px;

  & svg {
    margin-right: 5px;
  }
}

.delete-btn:hover {
  color: $pale-red;
}

.reply-btn,
.edit-btn {
  color: $moderate-blue;

  & svg {
    margin-right: 5px;
  }
}

.reply-btn:hover,
.edit-btn:hover {
  color: $light-grayish-blue;
}

.content {
  grid-area: comment;
  color: $grayish-blue;
}

#update-comment-input {
  grid-area: comment;
  resize: none;
  border-color: $light-gray;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  font: inherit;
}

#update-comment-input:focus {
  border-color: $moderate-blue;
}

.update-btn {
  grid-column: 3 / 4;
  justify-self: flex-end;
}

.reply-block {
  margin-inline-start: 40px;
  padding-inline-start: 40px;
  border-inline-start: 2px solid $light-grayish-blue;
}

.replying-to {
  color: $moderate-blue;
  font-weight: $f-500;
}

.create-comment,
.create-reply {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 15px;
  align-items: start;
}

.create-comment > *,
.create-reply > * {
  font-family: $rubik;
  font-size: $fs-16;
  line-height: 1.1;
}

.create-comment img,
.create-reply img {
  max-width: 40px;
}

.create-comment textarea,
.create-reply textarea {
  resize: none;
  border-color: $light-gray;
  border-radius: 8px;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}

.create-comment textarea:focus,
.create-reply textarea:focus {
  border-color: $moderate-blue;
}

.create-comment button,
.create-reply button,
.update-btn {
  background-color: $moderate-blue;
  color: $white;
  width: 80px;
  padding: 10px;
  border-radius: 8px;
}

.create-comment button:hover,
.create-reply button:hover {
  background-color: $light-grayish-blue;
}

.create-reply { margin-block: 20px; }

// Media Queries

@media screen and (max-width: 700px) {
  .reply-block {
    margin-inline-start: 0px;
    padding-inline-start: 4%;
  }

  .create-comment {
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      'image textarea'
      'button button'
    ;
    gap: 15px;
    align-items: start;
  }

  .create-comment textarea {
    grid-area: textarea;
  }

  .create-comment img {
    grid-area: image;
  }

  .create-comment button {
    grid-area: button;
    justify-self: end;
  }

  #update-comment-input {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 600px) {
  .comment {
    font-family: $rubik;
    font-size: $fs-16;
    background-color: $white;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 30px;
    grid-template-areas: 
      'user-info user-info'
      'comment comment'
      'vote reply'
    ;
    gap: 20px;
    border-radius: 8px;
    margin-block-end: 20px;
  }

  .vote {
    grid-area: vote;
    justify-self: start;
  }
  
  .vote-control {
    flex-direction: row;
    gap: 20px;
    padding: 5px 8px;
  }

  .user {
    grid-area: user-info;
  }

  .comment-btns {
    grid-area: reply;
    justify-self: end;
    // align-self: flex-start;
  }

  .content {
    grid-area: comment;
  }

  .create-comment {
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      'textarea textarea'
      'image button'
    ;
    gap: 15px;
    align-items: start;
  }

  .create-comment textarea {
    grid-area: textarea;
  }

  .create-comment img {
    grid-area: image;
  }

  .create-comment button {
    grid-area: button;
  }
}